 <div class="main-login main-roaster container">
 	
 	<div class="login-component dashboard-component">
 		<a class="pull-left navBar">
 			<i class="fa fa-chevron-left" (click)="navigate()" aria-hidden="true" ></i>
 		</a>

 		<h3>Notification</h3>
 		<ul class="nav navbar-nav">
 			<li class="dropdown">

 				<a href="#" class="nav-item" routerLink="/profile" routerLinkActive="active">
 					<i class="fa fa-user" aria-hidden="true"></i>	
 				</a>
 			</li>
 		</ul>
 	</div>
 	
 </div>

 <div class="col-12 pull-left padding0">
 	<div class="col-1 pull-left">
 		<a class="text-center newProfile notificationProfile">
 			<i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
 		</a>
 	</div>
 	<div class="col-11 pull-left">
 		<div class="col-6 pull-left">
 			<span class="admin">Admin</span>
 		</div>
 		<div class ="col-5 pull-right padding0">
 			<span class="admin-minutes" ng-repeat="icon in icons">5 minutes ago</span>
 		</div>
 		<label class="newProfile admin-keep">Keep is up.See you next week.</label>
 	</div>
 </div>
 <hr>
 <div class="col-12 pull-left padding0">
 	<div class="col-1 pull-left">
 		<a class="text-center newProfile notificationProfile">
 			<i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
 		</a>
 	</div>
 	<div class="col-11 pull-left">
 		<div class="col-6 pull-left">
 			<span class="admin">Admin</span>
 		</div>
 		<div class ="col-5 pull-right padding0">
 			<span class="admin-minutes" ng-repeat="icon in icons">Yesterday</span>
 		</div>
 		<label class="newProfile admin-keep">When an unknown printer took a galley to type and scrambled it to make  a type speciman book.</label>
 	</div>
 </div>
 <hr>
 <div class="col-12 pull-left padding0">
 	<div class="col-1 pull-left">
 		<a class="text-center newProfile notificationProfile">
 			<i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
 		</a>
 	</div>
 	<div class="col-11 pull-left">
 		<div class="col-6 pull-left">
 			<span class="admin">Admin</span>
 		</div>
 		<div class ="col-5 pull-right padding0">
 			<span class="admin-minutes" ng-repeat="icon in icons">10 Jan,2017</span>
 		</div>
 		<label class="newProfile admin-keep">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus cursus pharetra ipsum. Nam at tellus ligula. Vivamus rhoncus hendrerit commodo. Nam eleifend tempor libero, sed blandit urna pretium sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed diam tortor, ultrices id pulvinar eu, consectetur at massa. Quisque imperdiet eu nibh ac volutpat.</label>
 	</div>
 </div>
 <hr>






