<header>
	<div class="limiter">
		<h3>Payment Details</h3>
		<div class="display-td" >                            
			<img class="img-responsive text-center" src="http://i76.imgup.net/accepted_c22e0.png">
		</div>  
	</div>
</header>
<form #demoForm="ngForm" [formGroup]="form" novalidate (ngSubmit)="onSubmit(demoForm)">
	<div class="creditCardForm">
		<div class="heading">
			<h1>Confirm Purchase</h1>
		</div>
	<div class="form-group" [ngClass]="{ 'has-error': form.submitted && !ccNumber.valid }">
		<label for="cc-number" class="control-label">Card number formatting <small class="text-muted">[<span class="cc-brand"></span>]</small></label>
		<input id="cc-number" type="tel"  class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required ccNumber formControlName="creditCard">
	</div>

	<div class="form-group" [ngClass]="{ 'has-error': form.submitted && !ccExp.valid }">
		<label for="cc-exp" class="control-label">Card expiry formatting</label>
		<input id="cc-exp" type="tel"  class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="••/••" required ccExp formControlName="expirationDate">
	</div>

	<div class="form-group" [ngClass]="{ 'has-error': form.submitted && !ccCvc.valid }">
		<label for="cc-cvc" class="control-label">Card CVC formatting</label>
		<input id="cc-cvc" type="tel"  class="input-lg form-control cc-cvc" autocomplete="off" placeholder="•••" required ccCvc formControlName="cvc">
	</div>
	<button type="submit" class="btn btn-lg btn-primary">Submit</button>



</div>
</form>	
